@font-face {
  font-family: Bodoni;
  src: url(./fonts/BodoniStd.otf);
}
@font-face {
  font-family: BodoniLight;
  src: url(./fonts/BodoniStd-Book.otf);
}
@font-face {
  font-family: BodoniBold;
  src: url(./fonts/Bodoni-Std-Bold_7737.ttf);
}
body {
  overflow-x: hidden;
}
li {
  padding-left: 5%;
  display: inline;
  list-style-type: none;
}
li a {
  color: white;
  padding-top: 2.5%;
  padding-bottom: 7%;
  font-size: 1.3em;
  list-style-type: none;
  display: inline-block;
  font-family: Bodoni;
  text-decoration: none;
}
li a:hover {
  color: #a88c5d;
  text-decoration: none;
}
li a:focus {
  color: #a88c5d;
  text-decoration: none;
}
.blockOne {
  background-size: cover;
  padding-bottom: 15%;
  padding-top: 2%;
  background-image: url("../images/hero1.png");
  height: 100%;
}
#centerCrest {
  display: block;
  padding-top: 10%;
  width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.blockTwo {
  background-size: cover;
  height: 100%;
  padding-bottom: 9%;
  margin-top: -1%;
  background-image: url("../images/newsBackground.jpg"),
    linear-gradient(-380deg, white, white);
}
.blockTwo h1 {
  padding-top: 4%;
  font-family: Bodoni;
  font-size: 3em;
  color: #a88c5d;
  font-weight: bold;
}
.topRow h3 {
  font-family: BodoniBold;
  font-size: 1.9em;
  padding-top: 2%;
}
.blockTwo p {
  padding-top: 3%;
  font-size: 1.15em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.squareShape {
  height: 230px;
  width: 300px;
  border: 5.5px solid gray;
  background-color: black;
  cursor: pointer;
  background-size: contain;
}
#square {
  margin-top: 15%;
}
.blockThree {
  margin-top: -3.5%;
}
.blockThree img {
  width: 100%;
}
.blockFour {
  padding-bottom: 13%;
  height: 100%;
}
.slick-prev {
  margin-left: 5%;
  z-index: 3;
}
.slick-next {
  margin-right: 5%;
}
.blockOne .navbar-default {
  margin-bottom: 0;
}
.blockOne .navbar-default,
.section1 .navbar-default .navbar-collapse {
  background-color: transparent;
  border-color: transparent;
}
.blockOne .navbar-brand {
  padding: 0;
}
.blockOne .navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}
.blockOne .navbar-default .navbar-nav > li > a {
  color: #333;
  text-decoration: none;
  font-family: "Bodoni", Arial, sans-serif;
  font-size: 1.1em;
}
@media only screen and (max-width: 1920px) {
  .blockOne {
    background-size: cover;
    padding-bottom: 13%;
    padding-top: 2%;
    background-image: url("../images/hero1.png");
    height: 100%;
  }
  #centerCrest {
    display: block;
    padding-top: 10%;
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 1680px) {
  .blockOne {
    background-size: cover;
    padding-bottom: 12%;
    padding-top: 3%;
    background-image: url("../images/hero1.png");
    height: 100%;
  }
  #centerCrest {
    display: block;
    padding-top: 10%;
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 991px) {
  .blockTwo {
    padding-left: 7%;
  }
  .squareShape {
    width: 100%;
  }
  #square {
    margin-top: 7%;
  }
  .blockTwo h3 {
    font-family: Bodoni;
    font-size: 1.8em;
    padding-top: 2%;
  }
  .blockTwo p {
    padding-top: 1%;
    font-size: 1.3em;
    font-family: BodoniLight;
  }
}
@media only screen and (max-width: 767px) {
  #navbar {
    margin-top: 5%;
  }
  .blockOne #navbar li {
    margin-top: 10px;
    margin-left: -15%;
    display: block;
    text-align: center;
    list-style-type: none;
  }
}
@media only screen and (max-width: 550px) {
  .blockOne {
    background-size: cover;
    padding-bottom: 13%;
    padding-top: 2%;
    background-image: url("../images/hero1.png");
    height: 100%;
  }
  #centerCrest {
    display: block;
    margin-top: -3%;
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .blockThree img {
    width: 160%;
    height: 150%;
  }
}

.dots {
  text-align: center;
}

.transition {
  transition-timing-function: step-end;
}

.navbar,
.navbar-default {
  padding-left: 3% !important; /* override background image gradient w/ flat color */
}
.nav-link:hover {
  color: #bd9d6b !important;
}
.nav-link {
  color: gray !important;
}

#bootstrap-overrides .navbar-nav > li {
  padding-left: 11%;
}

.carousel-control-prev {
  left: -5% !important;
}

.carousel-control-next {
  right: -5% !important;
}

/* .button1 {
  position: relative;
  top: -179px;
  width: 213px;
  height: 55px;
  left: 85px;
  background-color: transparent;
  border-color: white;
}
.button2 {
  position: relative;
  top: -179px;
  width: 213px;
  height: 55px;
  left: 85px;
  background-color: transparent;
  border-color: white;
} */

.carousel-inner > .active {
  top: 50px !important;
  padding-bottom: 50px !important;
}

.carousel-hover:hover {
  cursor: pointer;
}