@import '../../all.scss'; 

footer {
    background-color: $sun-gray;
    margin: none;
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: flex-start; 
}

.footer-copyright {

    width: 282px;
    font-family: $font-secondary; 
    color: white; 
    font-weight: 100;  
    font-size: 12px;
}

.footer-icon a {
    font-size: 18px; 
    color: white; 
    padding-left: 24px;
}

.footer-icon a:hover {
    opacity: .7; 
    cursor: pointer;
}

.footer-wrapper {
    padding: 36px 36px 36px 36px; 
}

.footer-icons {
    display: flex; 
    flex-direction: row; 
}

@media only screen and (max-width: 524px) {
    footer {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-icons {
        padding-top: 24px; 
    }
    .footer-icon a {
        padding-left: 0; 
        padding-right: 24px; 
    }
 }
