@import '../../all.scss'; 

.w-p-60 {
    width: 60%;
}

.w-p-35 {
    width: 35%;
}

.w-p-48 {
    width: 48%;
}

.w-p-98 {
    width: 98%;
}

.w-p-60 {
    width: 98%;
}

.articles-primary {
    font-family: $font-primary;
}

.articles-primary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 48px;
}

.articles-secondary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: $font-primary;
}

.articles-image {
    height: 375px;
    background-position: center;
    background-size: 125%;

}

.articles-description-title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 12px;
}

.articles-description-p {
    font-size: 14px;
    color: grey;
}

.articles-secondary > .articles-image {
    position: relative;
    margin-bottom: 48px;
    height: 300px;
}

.articles-description-overlay {
    position: absolute;
    background: rgba(61, 61, 61, 0.8);;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    z-index: 10;
    transition: height 0.75s;
    color: white;
}

.articles-description-overlay > .articles-description-title {
    padding-left: 24px;
    padding-top: 24px;
}

.articles-description-overlay > .articles-description-p {
    display: none;
    transition: display 3s;
    padding-left: 24px;
    padding-right: 24px;
    color: white;
}

.articles-description-overlay:hover {
    height: 50%;
    cursor: pointer;
}

.articles-description-overlay:hover > .articles-description-p {
    display: block;
}

.articles-mediaquery > .articles-description {
    padding-top: 24px;
    padding-bottom: 48px;
    font-family: $font-primary;
}

.articles-primary > .articles-description {
    padding-left: 36px;
}

.articles-mediaquery > .articles-image {
    height: 250px;
}

a {
    text-decoration: none;
}

a:active, a:visited, a:hover, a:link {
    color: $primary-gray;
}

Link {
    cursor: pointer;
}

.articles-fullwrapper {
    margin: 36px 36px 36px 36px; 
}

.articles-mediaquery > .articles-description > .articles-description-title:hover {
    color: lightgrey;
}

.articles-primary > .articles-description > .articles-description-title:hover {
    color: lightgrey;
}
