@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto");

.logo {
  /* padding: 20px; */
  padding-left: 80px;
  /* padding-right: 100px; */
  display: inline-block;
  padding-bottom: 15px;
}

.gallery-container {
  margin: 100px 100px 100px 100px;
}

.gallery-title {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10px;
}

.title-container {
  float: right;
  padding-right: 115px;
}

.gallery-subtitle {
  font-size: 15px;
  color: #484848;
  text-align: right;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
}

.photos-page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: white;
  z-index: 3;
  justify-content: space-between;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.photo-image:hover {
  opacity: 1;
}

.photo-image {
  opacity: 0.5;
}
