.header-logo {
    width: 270px;
}

.header-projects {
    font-size: 24px; 
    letter-spacing: -0.5px;
    font-weight: bold; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-right {
    display: flex; 
    flex-direction: row;
    align-items: center;
}

.header-logo-wrapper {
    padding-right: 12px;
}

header {
    margin: 36px 36px 36px 36px;
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
}

.header-link {
    text-transform: uppercase;
    padding-left: 12px; 
    padding-right: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-weight: lighter;
    font-size: 15px;
}

.header-left {
    display: flex; 
    flex-direction: row; 
    align-items: center;
    margin-right: -12px; 
}

.header-icon {
    font-size: 18px;
    padding-right: 12px; 
    padding-left: 12px;
}

@media only screen and (max-width: 964px) {
     header {
      flex-direction: column;
    }
    .header-right {
        padding-bottom: 12px;
    }
  }

  @media only screen and (max-width: 524px) {
    .header-icon {
     display: none;
   }
   .header-right {
       flex-direction: column;
       padding-bottom: 0;
   }
   .header-projects {
       padding-bottom: 12px;
   }
 }

 .header-icon a:hover, .header-link a:hover  {
    color: lightgrey;  
    cursor: pointer;
 }

 .modal-wrapper {
     display: flex; 
     flex-direction: column; 
     align-items: center;
 }

 .modal-button {
     padding: 6px; 
     border-radius: 8px;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
     font-size: 14px;
     border-color: #4F4D49;
     font-weight: 500;
     letter-spacing: 0.05em;
     border: none; 
     text-transform: uppercase;
 }

 .modal-button:hover {
    background-color: lightgrey;
    cursor: pointer;
 }

 .modal-button:focus {
     outline: 0;
 }